
h2, textarea, input, div {
    width: 40%;
    margin-left: 4%;
    margin-right: 4%;
    display: inline-block;
}

form {
    border: dashed 1px turquoise;
    padding: 20px;
}

#displayarea, iframe {
    width: 1000px;
    height: 600px;
    border: solid 1px grey;
}

h4 {
    display: inline-block;
}

#JSONP {
    width: auto;
}
